.element__delete {
	position: absolute;
	top: 20px;
	right: 20px;

	visibility: visible;
	opacity: 1;

	width: 18px;
	height: 19px;
	background-color: transparent;
	background-image: url(../../../images/__delete.svg);
	border: none;

	margin: 0;
	padding: 0;

	cursor: pointer;

	transition: opacity 0.3s ease-in-out;
}

.element__delete:hover {
	opacity: 0.6;
}